<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="CarouselListingGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">voicyou_carousel_images</argument>
            <argument name="resourceModel" xsi:type="string">Voicyou\Carousel\Model\ResourceModel\Carousel</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="voicyou_carousel_images_data_source" xsi:type="string">CarouselListingGridCollection</item>
            </argument>
        </arguments>
    </type>
    
</config>